In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from textblob import TextBlob

In [17]:
#Q1 Perform sentimental analysis on the Elon-musk tweets (Elon-musk.csv)

In [6]:
# Load the CSV file containing Elon Musk's tweets
df = pd.read_csv('Elon_musk.csv',encoding="latin-1")

In [10]:
df

      Unnamed: 0                                               Text
0              1                             @kunalb11 Im an alien
1              2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2              3                @joerogan @Spotify Great interview!
3              4                    @gtera27 Doge is underestimated
4              5  @teslacn Congratulations Tesla China for amazi...
...          ...                                                ...
1994        1995  @flcnhvy True, it sounds so surreal, but the n...
1995        1996  @PPathole Make sure to read ur terms &amp; con...
1996        1997                @TeslaGong @PPathole Samwise Gamgee
1997        1998  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998        1999                          Progress update August 28

[1999 rows x 2 columns]

In [12]:
df = df.rename(columns={'Text': 'tweet'})

In [13]:
df

      Unnamed: 0                                              tweet
0              1                             @kunalb11 Im an alien
1              2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2              3                @joerogan @Spotify Great interview!
3              4                    @gtera27 Doge is underestimated
4              5  @teslacn Congratulations Tesla China for amazi...
...          ...                                                ...
1994        1995  @flcnhvy True, it sounds so surreal, but the n...
1995        1996  @PPathole Make sure to read ur terms &amp; con...
1996        1997                @TeslaGong @PPathole Samwise Gamgee
1997        1998  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998        1999                          Progress update August 28

[1999 rows x 2 columns]

In [14]:
# Define a function to perform sentiment analysis using TextBlob
def analyze_sentiment(tweet):
    analysis = TextBlob(tweet)
    # Classify sentiment as positive, negative, or neutral
    if analysis.sentiment.polarity > 0:
        return "Positive"
    elif analysis.sentiment.polarity == 0:
        return "Neutral"
    else:
        return "Negative"

In [15]:
# Apply sentiment analysis to each tweet in the DataFrame
df["Sentiment"] = df["tweet"].apply(analyze_sentiment)

In [16]:
# Print the DataFrame with sentiment analysis results
print(df)

      Unnamed: 0                                              tweet Sentiment
0              1                             @kunalb11 Im an alien  Negative
1              2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...   Neutral
2              3                @joerogan @Spotify Great interview!  Positive
3              4                    @gtera27 Doge is underestimated   Neutral
4              5  @teslacn Congratulations Tesla China for amazi...  Positive
...          ...                                                ...       ...
1994        1995  @flcnhvy True, it sounds so surreal, but the n...  Positive
1995        1996  @PPathole Make sure to read ur terms &amp; con...  Positive
1996        1997                @TeslaGong @PPathole Samwise Gamgee   Neutral
1997        1998  @PPathole Altho Dumb and Dumber is <U+0001F525...  Negative
1998        1999                          Progress update August 28   Neutral

[1999 rows x 3 columns]